<!DOCTYPE html>
<html>

<head>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>

<body>

  <ul id="example-1">
    <li v-for="item in items">
      {{ item.message }}
    </li>
  </ul>

  <hr>

  <ul id="example-2">
    <li v-for="(item, index) in items">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
  </ul>

  <hr>

  <ul id="example-3">
    <li v-for="(item, index) in items">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
  </ul>

  <hr>

  <ul id="v-for-object" class="demo">
    <li v-for="value in object">
      {{ value }}
    </li>
  </ul>

  <hr>

  <ul id="v-for-object2" class="demo">
    <div v-for="(value, key) in object">
      {{ key }}: {{ value }}
    </div>
  </ul>

  <hr>

  <ul id="v-for-object3" class="demo">
    <div v-for="(value, key, index) in object">
      {{ index }}. {{ key }}: {{ value }}
    </div>
  </ul>

  <hr>

  <ul id="example-4">
    <li v-for="(item, index) in items" :key="item.id">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
  </ul>

  <hr>

  <ul id="example-5">
    <li v-for="n in evenNumbers">{{ n }}</li>
  </ul>

  <hr>

  <ul id="example-6">
    <li v-for="n in even(numbers)">{{ n }}</li>
    <div>
      <span v-for="n in 10">{{ n }} </span>
    </div>
  </ul>

  <ul id="example-7">
    <div>
      <span v-for="n in 10">{{ n }} </span>
    </div>
  </ul>

  <ul id="example-8">
    <ul>
      <template v-for="item in items">
        <li>{{ item.message }}</li>
        <li class="divider"></li>
      </template>
    </ul>
  </ul>

  <ul id="example-9">
    <li v-for="todo in todos" v-if="!todo.isComplete">
      {{ todo }}
    </li>
  </ul>

  <ul id="example-10">
    <ul v-if="todos.length">
      <li v-for="todo in todos">
        {{ todo }}
      </li>
    </ul>
    <p v-else>No todos left!</p>
  </ul>

  <div id="todo-list-example">
    <input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo">
    <ul>
      <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="todos.splice(index, 1)"></li>
    </ul>
  </div>
</body>

<script>
  var example1 = new Vue({
    el: '#example-1',
    data: {
      items: [{
          message: 'Foo'
        },
        {
          message: 'Bar'
        }
      ]
    }
  })

  var example2 = new Vue({
    el: '#example-2',
    data: {
      parentMessage: 'Parent',
      items: [{
          message: 'Foo'
        },
        {
          message: 'Bar'
        }
      ]
    }
  })

  var example3 = new Vue({
    el: '#example-3',
    data: {
      parentMessage: 'Parent',
      items: [{
          message: 'Foo'
        },
        {
          message: 'Bar'
        }
      ]
    }
  })

  let ob1 = new Vue({
    el: '#v-for-object',
    data: {
      object: {
        firstName: 'John',
        lastName: 'Doe',
        age: 30
      }
    }
  })

  let ob2 = new Vue({
    el: '#v-for-object2',
    data: {
      object: {
        firstName: 'John',
        lastName: 'Doe',
        age: 30
      }
    }
  })

  let ob3 = new Vue({
    el: '#v-for-object3',
    data: {
      object: {
        firstName: 'John',
        lastName: 'Doe',
        age: 30
      }
    }
  })

  var example4 = new Vue({
    el: '#example-4',
    data: {
      parentMessage: 'Parent',
      items: [{
          message: 'Foo'
        },
        {
          message: 'Bar'
        }
      ]
    }
  })

  var example5 = new Vue({
    el: '#example-5',
    data: {
      numbers: [1, 2, 3, 4, 5]
    },
    computed: {
      evenNumbers: function() {
        return this.numbers.filter(function(number) {
          return number % 2 === 0
        })
      }
    }
  })

  var example6 = new Vue({
    el: '#example-6',
    data: {
      numbers: [1, 2, 3, 4, 5]
    },
    methods: {
      even: function(numbers) {
        return numbers.filter(function(number) {
          return number % 2 === 0
        })
      }
    }
  })

  var example7 = new Vue({
    el: '#example-7',
    data: {
      numbers: [1, 2, 3, 4, 5]
    },
    methods: {
      even: function(numbers) {
        return numbers.filter(function(number) {
          return number % 2 === 0
        })
      }
    }
  })

  var example8 = new Vue({
    el: '#example-8',
    data: {
      parentMessage: 'Parent',
      items: [{
          message: 'Foo'
        },
        {
          message: 'Bar'
        }
      ]
    }
  })

  var example9 = new Vue({
    el: '#example-9',
    data: {
      parentMessage: 'Parent',
      todos: [{
          message: 'Foo',
          isComplete: false
        },
        {
          message: 'Bar',
          isComplete: true
        }
      ]
    }
  })

  var example10 = new Vue({
    el: '#example-10',
    data: {
      parentMessage: 'Parent',
      todos: [{
          message: 'Foo',
          isComplete: false
        },
        {
          message: 'Bar',
          isComplete: true
        }
      ]
    }
  })

  Vue.component('todo-item', {
    template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')">X</button>\
    </li>\
  ',
    props: ['title']
  })

  new Vue({
    el: '#todo-list-example',
    data: {
      newTodoText: '',
      todos: [{
          id: 1,
          title: 'Do the dishes',
        },
        {
          id: 2,
          title: 'Take out the trash',
        },
        {
          id: 3,
          title: 'Mow the lawn'
        }
      ],
      nextTodoId: 4
    },
    methods: {
      addNewTodo: function() {
        this.todos.push({
          id: this.nextTodoId++,
          title: this.newTodoText
        })
        this.newTodoText = ''
      }
    }
  })
</script>

</html>
